@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@mixin proxima-semibold {
  font: {
    family: 'Proxima Nova Condensed', Arial, sans-serif;
    weight: 600;
  }

  color: #444;
}

@mixin proxima-regular {
  font: {
    family: 'Proxima Nova Condensed', Arial, sans-serif;
    weight: 400;
  }

  color: #444;
}


.root {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 85px;
  padding: 0 70px 0;
  
  &__logo {
    width: 125px;
    height: 25px;
  }
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 20px;

  &__item {
    list-style: none;
  }

  &__link {
    @include proxima-semibold;
    size: 18px;
    line-height: 1.11;
    text-decoration: none;

    transition: ease-out 0.2s;

    &:hover {
      opacity: .6;
    }
  }
}

.main {
  // display: flex;
  // flex-direction: column;
  width: 100%;
  padding: 0 70px 0;
}

.banner {
  display: flex;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;

  &__title {
    max-width: 709px;
    width: 100%;
    margin: 158px 0 0 70px;
    
    @include proxima-semibold;
    font-size: 56px;
    line-height: 1;
  }
}

.description {
  @include proxima-semibold;
  min-width: 1110px;
  padding: 100px 70px 0;

  &__text {
    margin: 0;
    padding: 99px 110px;
    max-width: 890px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);

    font-size: 32px;
    line-height: 1.2;
    text-align: center;
  }

  &__text-accent {
    color: #B01736;
  }
}

.digits {
  display: flex;
  
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 185px;
    margin: 0 auto;
    min-width: 890px;
    width: 100%;

    list-style: none;
  }
}

.list-item {
  &__digit {
    margin: 0;
    
    @include proxima-semibold;
    color: #A30C33;
    font-size: 80px;
    line-height: .8;
  }

  &__description {
    margin: 0;

    @include proxima-regular;
    font-size: 18px;
    line-height: 1.5;
  }
}