@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../../node_modules/swiper/swiper.css);
@import url(../../node_modules/swiper/swiper-bundle.css);
@import url(../../node_modules/swiper/swiper-bundle.min.css);
@import url(../../node_modules/swiper/swiper-element-bundle.css);
@import url(../../node_modules/swiper/swiper-element-bundle.min.css);
@import url(../../node_modules/swiper/swiper-element.css);
@import url(../../node_modules/swiper/swiper-element.min.css);
@import url(../../node_modules/swiper/swiper.min.css);
@import url(../../node_modules/swiper/modules/navigation/navigation.min.css);
@import url(../../node_modules/swiper/modules/pagination/pagination.min.css);

@mixin proxima-semibold {
  font: {
    family: 'Proxima Nova Condensed', Arial, sans-serif;
    weight: 600;
  }

  color: #444;
}

@mixin proxima-regular {
  font: {
    family: 'Proxima Nova Condensed', Arial, sans-serif;
    weight: 400;
  }

  color: #444;
}

.root {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 85px;
  padding: 0 70px 0;

  &__logo {
    width: 125px;
    height: 25px;
  }
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 20px;

  &__item {
    list-style: none;
  }

  &__link {
    @include proxima-semibold;
    size: 18px;
    line-height: 1.11;
    text-decoration: none;

    transition: ease-out 0.2s;

    &:hover {
      opacity: 0.6;
    }
  }
}

.main {
  // display: flex;
  // flex-direction: column;
  width: 100%;
  padding: 0 70px 0;
}

.banner {
  display: flex;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;

  &__title {
    max-width: 709px;
    width: 100%;
    margin: 158px 0 0 70px;

    @include proxima-semibold;
    font-size: 56px;
    line-height: 1;
  }
}

.description {
  @include proxima-semibold;
  min-width: 1110px;
  padding: 100px 70px 0;

  &__text {
    margin: 0;
    padding: 99px 110px;
    max-width: 890px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);

    font-size: 32px;
    line-height: 1.2;
    text-align: center;
  }

  &__text-accent {
    color: #b01736;
  }
}

.digits {
  display: flex;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 185px;
    margin: 0 auto;
    min-width: 890px;
    width: 100%;

    list-style: none;
  }
}

.list-item {
  &__digit {
    margin: 0;

    @include proxima-semibold;
    color: #a30c33;
    font-size: 80px;
    line-height: 0.8;
  }

  &__description {
    margin: 0;

    @include proxima-regular;
    font-size: 18px;
    line-height: 1.5;
  }
}

.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 471px;
  row-gap: 40px;

  background-color: #a30c33;
  background-image: url(../images/mission.svg);
  background-repeat: no-repeat;
  background-size: 100%;

  &__title {
    margin: 0 auto;

    @include proxima-semibold;
    font-size: 56px;
    line-height: 1;
    color: #fff;
  }

  &__subtitle {
    margin: 0 auto;
    max-width: 1110px;

    @include proxima-regular;
    font-size: 32px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
  }
}

.bonuses {
  max-width: 1110px;
  padding: 80px 110px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
}

.compensations {
  &__title {
    margin: 0 0 50px;

    @include proxima-semibold;
    font-size: 56px;
    line-height: 1;
    text-align: center;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
  }
}

.card {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  width: 110px;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;

  @include proxima-regular;
  line-height: 1.1;

  &__caption {
    position: absolute;
    bottom: -41.81px;

    margin: 0;
    padding: 0;
  }
}

.motivation {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 70px 0 4px;

    @include proxima-semibold;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
  }

  &__subtitle {
    margin: 0 0 50px;

    @include proxima-semibold;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    color: #b01736;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 43.24%;
    justify-content: space-between;
  }
}

.business {
  &__title {
    margin: 100px 0 55px;

    @include proxima-semibold;
    font-size: 56px;
    line-height: 1;
    text-align: center;
  }

  &__hovered-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(615px, 1fr));
    margin: 0;
    padding: 0;
    column-gap: 20px;
    row-gap: 22px;

    list-style: none;
  }
}

.hovered-card {
  position: relative;

  display: grid;
  overflow: hidden;

  cursor: pointer;

  &__picture {
    width: 100%;

    transition: ease-out 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__overlay {
    position: absolute;
    top: 73%;
    left: 0;
    z-index: 1;

    background-color: rgba(45, 54, 83, 0.6);

    width: 100%;
    height: 100%;

    transition: top 0.8s;

    &:hover {
      top: 0;
    }
  }

  &__title {
    margin: 28px 0 20px 20px;

    @include proxima-semibold;
    font-size: 24px;
    line-height: 1;
    color: #fff;
  }

  &__text {
    width: 78%;
    margin: 0 0 0 20px;

    @include proxima-regular;
    font-size: 17px;
    line-height: 1.4;
    color: #fff;
  }
}

.swiper {
  position: static;

  max-width: 1100px;
  width: 100%;
  max-height: 834px;
  height: 100%;

  &__title {
    @include proxima-semibold;
    font-size: 56px;
    line-height: 1;
  }

  &__buttons {
    display: flex;
    column-gap: 20px;
  }

  &-slide {
    position: static;
    
    list-style: none;
  }

  &__image {
    position: static;
    
    max-width: 1100px;
    width: 100%;
    max-height: 834px;
    height: 100%;
  }

  &-button-prev {
    position: static;
  
    width: 56px;
    height: 56px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 50%;

    // &::after {
    //   content: '';

    //   background-image: url(../images/arrow-left.svg);
    // }
  }

  &-button-next {
    position: static;
  
    width: 56px;
    height: 56px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 50%;
  }

  &-wrapper {
    position: static;
    
    margin: 0;
    padding: 0;
  }

  &-pagination {
    position: static;
    
    display: flex;

    &-bullet {
      position: static;
      
      display: block;
      background-color: #a30c33;
      border-radius: 0;
      width: 214px;
      height: 6px;
    }
  } 

}
