@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../../node_modules/swiper/swiper.css);
@import url(../../node_modules/swiper/swiper-bundle.css);
@import url(../../node_modules/swiper/swiper-bundle.min.css);
@import url(../../node_modules/swiper/swiper-element-bundle.css);
@import url(../../node_modules/swiper/swiper-element-bundle.min.css);
@import url(../../node_modules/swiper/swiper-element.css);
@import url(../../node_modules/swiper/swiper-element.min.css);
@import url(../../node_modules/swiper/swiper.min.css);
@import url(../../node_modules/swiper/modules/navigation/navigation.min.css);
@import url(../../node_modules/swiper/modules/pagination/pagination.min.css);

@mixin proxima-semibold {
  font: {
    family: 'Proxima Nova Condensed', Arial, sans-serif;
    weight: 600;
  }

  color: #444;
}

@mixin proxima-regular {
  font: {
    family: 'Proxima Nova Condensed', Arial, sans-serif;
    weight: 400;
  }

  color: #444;
}

.root {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.header {
  &__logo-and-navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 85px;
    justify-content: space-between;
    width: 88.8%;
    padding: 0 5.6%;
  }

  &__logo {
    width: 125px;
    height: 25px;
  }
}

.site-navigation {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 20px;
  }

  &__item {
    list-style: none;
  }

  &__link {
    @include proxima-semibold;
    size: 18px;
    line-height: 1.11;
    text-decoration: none;

    transition: ease-out 0.2s;

    &:hover {
      color: #a30c33;
    }
  }
}

.main {
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: column;
  padding: 0 5.6% 0;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  height: 600px;

  &__title {
    max-width: 709px;
    width: 100%;
    margin: 158px 0 60px 0;

    @include proxima-semibold;
    font-size: 56px;
    line-height: 1;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 56px;
    background-color: #b01736;
    border-radius: 8px;

    @include proxima-semibold;
    font-size: 18px;
    line-height: 1.11;
    text-decoration: none;
    color: #fff;

    transition: ease-out 0.2s;

    &:hover {
      background-color: #d43152;
    }
  }
}

.description {
  @include proxima-semibold;
  padding: 100px 5.6% 0;

  &__text {
    margin: 0;
    padding: 9.91% 110px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);

    font-size: 32px;
    line-height: 1.2;
    text-align: center;
  }

  &__text-accent {
    color: #b01736;
  }
}

.digits {
  display: flex;
  padding: 100px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    row-gap: 60px;
    justify-content: center;
    column-gap: 16.46%;
    margin: 0 auto;
    width: 100%;

    list-style: none;
  }
}

.list-item {
  &__digit {
    margin: 0;

    @include proxima-semibold;
    color: #a30c33;
    font-size: 80px;
    line-height: 0.8;
  }

  &__description {
    margin: 0;
    max-width: 240px;

    @include proxima-regular;
    font-size: 18px;
    line-height: 1.5;
  }
}

.map {
  overflow-x: scroll;
  scroll-snap-type: proximity;
  scrollbar-width: none;

  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    padding: 0 5.6%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
  }

  &__image {
    margin: 90px 0 100px;
  }
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  column-gap: 30px;

  &__item {
    display: flex;
    align-items: center;
    height: 80px;
    box-sizing: border-box;
    border-bottom: 3px solid #fff;

    @include proxima-semibold;
    font-size: 18px;
    line-height: 1.11;
    list-style: none;

    cursor: pointer;

    &:hover {
      border-bottom: 3px solid #a30c33;

      color: #a30c33;
    }

    &_selected {
      border-bottom: 3px solid #a30c33;

      color: #a30c33;
    }
  }
}

.falling-list {
  display: flex;
  align-items: center;
  gap: 12px;

  cursor: pointer;

  &__title {
    margin: 0;

    @include proxima-semibold;
    font-size: 24px;
    line-height: 1;
  }

  &__button {
    width: 20px;
    height: 8px;
    margin: 0;
    padding: 0;
    border: none;
    background-image: url(../images/falling-arrow.svg);
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    cursor: pointer;
  }
}

.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 471px;
  row-gap: 40px;

  background-color: #a30c33;
  background-image: url(../images/mission-left.svg),
    url(../images/mission-right.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;

  &__title {
    margin: 0 auto;

    @include proxima-semibold;
    font-size: 56px;
    line-height: 1;
    color: #fff;
  }

  &__subtitle {
    margin: 0 auto;
    max-width: 1110px;

    @include proxima-regular;
    font-size: 32px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
  }
}

.bonuses {
  width: 88.8%;
  padding: 80px 0;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
}

.compensations {
  position: relative;

  &__title {
    margin: 0 0 50px;

    @include proxima-semibold;
    font-size: 56px;
    line-height: 1;
    text-align: center;
  }

  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 7.66%;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &::after {
    position: absolute;
    top: 100%;
    left: 2.705%;

    display: block;
    height: 1px;
    width: 94.59%;
    background-color: #000;
    opacity: 0.1;

    content: ' ';
  }
}

.card {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  width: 110px;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;

  @include proxima-regular;
  line-height: 1.1;

  &__caption {
    position: absolute;
    bottom: -41.81px;

    margin: 0;
    padding: 0;
  }
}

.motivation {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 70px 0 4px;

    @include proxima-semibold;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
  }

  &__subtitle {
    margin: 0 0 50px;

    @include proxima-semibold;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    color: #b01736;
  }

  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 7.66%;
    margin: 0;
    padding: 0;
  }
}

.business {
  &__title {
    margin: 100px 0 55px;

    @include proxima-semibold;
    font-size: 56px;
    line-height: 1;
    text-align: center;
  }

  &__hovered-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;
    column-gap: 20px;
    row-gap: 22px;

    list-style: none;
  }
}

.hovered-card {
  position: relative;

  display: grid;
  overflow: hidden;

  cursor: pointer;

  &__picture {
    width: 100%;

    transition: ease-out 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__overlay {
    position: absolute;
    top: 73%;
    left: 0;
    z-index: 1;

    background-color: rgba(45, 54, 83, 0.6);

    width: 100%;
    height: 100%;

    transition: top 0.8s;

    &:hover {
      top: 0;
    }
  }

  &__title {
    margin: 4.55% 0 4.55% 20px;

    @include proxima-semibold;
    font-size: 24px;
    line-height: 1;
    color: #fff;
  }

  &__text {
    width: 78%;
    margin: 0 0 0 20px;

    @include proxima-regular;
    font-size: 17px;
    line-height: 1.4;
    color: #fff;
  }
}

.swiper {
  max-width: 88.8%;
  max-height: 834px;

  &__title {
    @include proxima-semibold;
    font-size: 56px;
    line-height: 1;
  }

  &-slide {

    list-style: none;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &-button-prev {
    top: 68px;
    left: calc(100% - 126px);

    width: 56px;
    height: 56px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 50%;
  }

  &-button-next {
    top: 68px;
    right: 0;

    width: 56px;
    height: 56px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 50%;
  }

  &-wrapper {
    
    grid-area: image;
    margin: 0;
    padding: 0;
  }

  &-pagination {
    
    display: flex;

    &-bullet {
      display: block;
      background-color: #a30c33;
      border-radius: 0;
      width: 214px;
      height: 6px;
    }
  }
}
